body {
    margin: 60px auto;
    width: 70%;
    background-color: rgba(252,252,252, .85);
    color: rgba(44, 53, 55, .85);
}
header {
    background-color: rgba(44, 53, 55, 1);
    color: rgba(252,252,252, .85);
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a, a:visited {
    text-decoration: underline;
    color: color: rgba(44, 53, 55, .85);
}
a:hover {
    color: rgba(33,165,195, 1);
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: rgba(44, 53, 55, .85);
}
footer {
    background-color: rgba(44, 53, 55, 1);
    color: rgba(252,252,252, .85);
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
