body {
    margin: 60px auto;
    width: 70%;
    background-color: rgba(114,118,119, .22);
    color: rgba(44, 53, 55,1);
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a, a:visited {
    text-decoration: underline;
    color: rgba(44, 53, 55, 1);
}
a:hover, a:focus {
    color: rgba(44, 53, 55, .60);
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: rgba(44, 53, 55, .85);
    font-weight: bold;
}

h2 {
    color: rgba(44, 53, 55,1);
}

h3 {
    color: rgba(44, 53, 55, .85);
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: rgba(44, 53, 55, 1);
}
footer {
    border-top: 1px solid rgba(44, 53, 55, .85);
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
