<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">
      <a href="/">Home</a>
      |
      <a href="{{ author.url }}">Dev Site</a>
      |
      <a href="{{ author.url }}/contact">Contact</a>
      <h3>Categories</h3>
      <ul>
      {% for category in site.categories %}
        <a href="/category/{{ category[0] }}/" class="">{{ category[0] | capitalize }}</a><br />
      {% endfor %}
      </ul>
    </nav>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
