<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">
      <a href="/" class="sidebar-nav-item">Home</a>
      |
      <a href="{{ site.author.url }}" class="sidebar-nav-item" target="_blank">Dev Site</a>
      |
      <a href="{{ site.author.url }}/contact" class="sidebar-nav-item" target="_blank">Contact</a>
      <div class="categories">
        <h3>Read About</h3>
        <ul>
        {% for category in site.categories %}
          <a href="{{url}}/category/{{ category[0] }}/" class="sidebar-nav-item">{{ category[0] | capitalize }}</a><br />
        {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</div>
