<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">
      <a href="/" class="sidebar-nav-item">Home</a>
      |
      <a href="{{ site.author.url }}" class="sidebar-nav-item" target="_blank">Dev Site</a>
      |
      <a href="{{ site.author.url }}/contact" class="sidebar-nav-item" target="_blank">Contact</a>
      <div class="categories">
       <h3>Categories</h3>
        <ul>
        {% assign categories_list = site.categories %}
          {% if categories_list.first[0] == null %}
            {% for category in categories_list %}
              <li><a href="/category/{{ category }}">{{ category | capitalize }} ({{ site.tags[category].size }})</a></li>
            {% endfor %}
          {% else %}
            {% for category in categories_list %}
              <li><a href="/category/{{ category[0] }}">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
            {% endfor %}
          {% endif %}
        {% assign categories_list = nil %}
        </ul>
      </div>
    </nav>
  </div>
</div>
